
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script>
        function clickMe() {
            alert("Hi!");
        }
    </script>
</head>
<body>
    <div> 
        <input type="button" id="Button1" value="Click Me" onclick="clickMe()" />
    </div>
</body>
</html>
