
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @{ 
            int m = 10;
            string s = "<h1>demo</h1>";
            string[] data = { "item1", "item2", "item3" };
        }
        <ul>
            <li>不用轉字串:@m</li>
            <li>自動做HTMLEncode：@s</li>
            <li>不做HTMLEncode：@Html.Raw(s)</li>
        </ul>
    </div>
</body>
</html>
