
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Opera</title>
</head>
<body>
    <div> 
        A : @ViewBag.OperaID.ToString<br />
        A : <br />
        A : <br />
        A : <br />
    </div>
</body>
</html>
